#logo{
    height: inherit;
    margin-top: -15px;
    padding-bottom: 5px;
}
#navbutton{
    margin: 5px;
}

.navbar{
    text-decoration: none;
    font: Helvetica;
    margin: 0px;
    background-color: white;
}

.navbar a{
    color: green;
}

#body{
    background-color: rgb(144, 219, 122);
}

#main-content{
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background:rgb(231, 233, 198);
    color: black;
    padding: 40px;
}
#right-bar{
    background-color: rgb(51, 140, 49);
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    padding: 20px;
}
.container{
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
#footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    display: block;
	background-color:#eaeaee;
	color: green;
	padding-top: 12px;
	padding-bottom: 12px;
}
