#logo{
    height: inherit;
    margin-top: -10px;
    padding-bottom: 5px;
}
#navbutton{
    margin: 5px;
    height: inherit;
}

.navbar{
    text-decoration: none;
    font: Helvetica;
    background-color: white;
    width: 100%;
}

.navbar a{
    color: rgb(12, 30, 126);
}

#body{
    background-color: rgba(114, 165, 203, 0.76);
    width: 100%;
}

#main-content{
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    float: left;
    clear: left;
}
#right-bar{
    background-color: white;
    margin-top: 20px;
    text-align: center;
    color: black;
    padding: 20px;
}
.container{
    padding-top: 15px;
}

#profile{
    padding: 40px;
}

#ppicture{
    border-style: ridge;
    border-color: grey;
}

.social{
    list-style: none;
    padding-left: 0;
}

#notification{
    height: 40px;
    width: 100%;
    font-size: 14px;
    color: black;
    font-family: Helvetica;
    text-align: center;
    padding: 0px;
}


.notif{
    height: 100%;
    width: 100%;
    border-style: solid;
    border-color: grey;
}

#message-list{
    list-style: none;
}
