<div id="right-bar" class="col-md-2">
    <div class="col-md-12">
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#clarification">Clarifications</a></li>

        </ul>

        <div class="tab-content">
            <div id="clarifiation" class="tab-pane fade in active">
                <ul class="social">
                    <li id="message-list">
                        <button type="button" class="btn btn-block notif" data-toggle="modal" data-target="#msgPopUp">
                            New clarification
                        </button>

                    <div class="modal fade" id="msgPopUp" >
                        <div class="modal-dialog">
                            <div class="modal-content panel panel-info">
                                <div class="modal-header panel-heading">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h3 style="text-align:center;"class="modal-title">
                                        Asked by:
                                    </h3>
                                </div>
                                <div class="modal-body panel-body">
                                    <div class="well well-sm">
                                        Question
                                    </div>
                                    <div class="well well-sm">
                                        Answer
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
