<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> {% block title %}HackPack{% endblock %} </title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" >
    </head>

<body id="body">
    <!-- navbar -->
    <nav class="navbar navbar-dark">
		<div class="container-fluid">
			<div class="navbar-header">
                <!--logo-->
			    <a href="{{ url_for('core.home') }}" class="navbar-brand">
                    <img id="logo" src="{{ url_for('static', filename='img/logo2.png') }}" />
                </a>
			</div>

			<!-- Menu Items -->
			<ul class="nav navbar-nav">
				<li> <a href="{{ url_for('core.home') }}"> Home </a></li>
				<li> <a href="{{ url_for('num.check_number', number=3) }}"> Blog </a></li>

				<!--dropdown -->
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Study <span class="caret"> </span> </a>
						<ul class="dropdown-menu">
							<li><a href="{{ url_for('core.problemlist') }}">Problems</a></li>
							<li><a href="{{ url_for('core.contestlist') }}">Contests</a></li>
						</ul>
				</li>
                <li><a href="{{ url_for('core.profile') }}">Profile</a></li>
			</ul>
			<!--Login and Register Buttons -->
			<ul class="nav navbar-nav pull-right">
                {% if current_user.is_authenticated %}
                    <button class="btn btn-warning-outline username" id="navbutton" type="button" name="button">{{ current_user.username }}</button>
                    <li> <button id="navbutton" type="button" class="btn btn-danger"> <a style="color:white;" href="{{ url_for('core.logout')}}">Log Out </a> </button> </li>
                {% else %}
				<li> <button id="navbutton" type="button" class="btn btn-success" data-toggle="modal" data-target="#popUpWindow"> <a style="color:white;"href="#">Log In </a> </button> </li>
                <li>
                    <form>
                        <input id="navbutton" class="btn btn-info" type="button" value="Register" onclick="window.location.href= '{{ url_for('core.register')}}' " />
                    </form>
                </li>
                {% endif %}
                <!-- Login Pop-up Window-->
                <div class="modal fade" id="popUpWindow" >
					<div class="modal-dialog">
							<div class="modal-content">
								<!-- Pop-up Header-->
								<div class="modal-header">
								    <button type="button" class="close" data-dismiss="modal">&times;</button>
									<h3 style="text-align:center;"class="modal-title">
                                        <p><img id="logo" src="{{ url_for('static', filename='img/logo3.png') }}" /></p>
                                        <p>Log In</p>
                                    </h3>
								</div>

								<!-- Login Forms -->
								<div class="modal-body">
									    <form role="form" id="loginForm" action="{{ url_for('core.login') }}" method="post">
											<div class="form-group">
                                                <input type="email" name="email" class="form-control" placeholder="Email">
											</div>

											<div class="form-group">
											    <input type="password" name="password" class="form-control" placeholder="Password">
										    </div>
									    </form>
								</div>

								<!-- Login  Button -->
								<div class="modal-footer">
									  <button form="loginForm"class="btn btn-primary btn-block">Log In</button>
								</div>
							</div>
					</div>
	            </div>
			</ul>
        </div>
	</nav>
    <div class="container-fluid">
        <div class="row">
            <div id="main-content" class="col-md-7 col-md-push-1">
                    {% block content %}
                    {% endblock %}
            </div>
            <div class="col-md-1">
            </div>
            {% include "socialbar.html" %}
        </div>

    </div>
        <!--footer
        <footer  id="footer" class="navbar navbar-fixed-bottom">
            <div class="row">
                <div class="col-md-12">
                    <p style="text-align:center;"> Created by : Oguz Paksoy &nbsp;| Ecem Guldosuren&nbsp;| Ezgi Yilmaz     &nbsp;| Burak Bugrul  </p>
                </div>
            </div>
        </footer>-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </body>
</html>
