{% extends "layout.html" %}
{% block title %}{{ contest.contest_name }}{% endblock %}
{% block content %}
    <div class="panel panel-primary">
    <div class="panel-heading">{{ contest.contest_name }}</div>
    <div class="panel-body">
        <table class="table table-hover">
        <tr>
            <th>#</th> <th>Username</th>
            {% for problem in contest.problems %}
                <th> <a href="{{ url_for('study.statement', problem_id=problem.problem_id) }}">{{ problem.problem_name }}</a></th>
            {% endfor %}
            <th>Total Score</th> </tr>
        {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td> <td><a href="#">{{ user.username }}</a></td>
                {% for problem in contest.problems %}
                    <td> {% if problem.problem_id in user.solved %}<span style="color:green;" class="glyphicon glyphicon-ok"></span>{% elif problem.problem_id in user.tried %}<span style="color:red;" class="glyphicon glyphicon-remove"></span>{% endif %} </td>
                {% endfor %}
                <td>{{ user.score }}</td>
            </tr>
        {% endfor %}

    </table>
    </div>
    </div>
{% endblock %}
