{% extends "layout.html" %}
{% block title %}Edit Profile {% endblock %}
{% block content %}
    <div class="panel panel-primary">
    <!--div class="panel-heading"><h3>Welcome to HackPack</h3></div-->
    <div id="profile" class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <fieldset class="form-group">
                    <label for="InputUsername1">Username*</label>
                    <input type="text" class="form-control" id="InputUsername1" placeholder= "current username" disabled>
                </fieldset>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-6">
                <fieldset class="form-group">
                    <label for="NameSurname1">Name Surname*</label>
                    <input type="text" class="form-control" id="NameSurname1" placeholder= "Current Name Surname">
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">

            </div>
            <div  class="col-md-3">
                <p>--picture--</p>
                <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/676465-200.png"/>
                <fieldset class="form-group">
                    <label for="File">Profile Picture</label>
                    <input type="file" class="form-control-file" id="File">
                    <small class="text-muted"></small>
                </fieldset>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-6">
                <fieldset class="form-group">
                    <label for="Email1">Email address*</label>
                    <input type="email" class="form-control" id="Email1" placeholder="current@email.com">
                    <small class="text-muted">We will send a new confirmation mail.</small>
                </fieldset>
                <fieldset class="form-group">
                    <label for="Password1">Password*</label>
                    <input type="password" class="form-control" id="Password1" placeholder="Enter your old password" required>
                    <input type="password" class="form-control" id="Password1" placeholder="New password" required>
                    <small class="text-muted"> Your password must be at least 6 characters also include at least <strong>one number and letter *</strong> </small>
                    <input type="password" class="form-control" id="Password1" placeholder="New password again" required>
                </fieldset>
            </div>
        </div>
        <fieldset class="form-group">
            <label for="Bio">Bio</label>
            <textarea class="form-control" id="Bio" rows="5" placeholder="Current Bio"></textarea>
        </fieldset>
        <div class="row">
            <div  style="text-align:left" class="col-md-6">
                <fieldset class="form-group">
                    <label for="Team1">Team</label>
                    <br>
                    <a href="#">Create Team</a>
                    or
                    <input type="text" class="form-control disabled" id="Team1" placeholder= "Current Team Name" disabled>
                </fieldset>
            </div>
            <div style="text-align:left"  class="col-md-6">
                <fieldset class="form-group">
                    <label for="exampleInputAdress">Adress</label>
                    <input type="text" class="form-control" id="exampleInputAdress" placeholder="Current Country" >
                    <input type="text" class="form-control" id="exampleInputAdress" placeholder="Current City" >
                    <input type="text" class="form-control" id="exampleInputAdress" placeholder="Current School" >
                </fieldset>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit Changes</button>
    </div>
    </div>
{% endblock %}
