{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
    <div class="panel panel-primary">
    <div class="panel-heading"><h3>Welcome --username-- </h3></div>
    <div id="profile" class="panel-body">
        <div class="row">
            <div class="col-md-11">
                <h3 style="text-align:left" ><!--name and surname--> {{ current_user.username }}</h3>
            </div>
            <div class="col-md-1">
                <a href="{{ url_for('core.editprofile') }}">Edit Profile</a>
            </div>
        </div>

        <div class="row">
            <div id="ppicture" class="col-md-3">
                <p>--picture--</p>
                <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/676465-200.png"/>
            </div>
            <div class="col-md-9">
                <h4>Email</h4>
                <p> {{ current_user.email }} </p>
                <h4>Bio</h4>
                <p>
                    <p>
                        --user bio--
                    </p>
                    <p style="text-align:left; margin:10px;"> {% if current_user.bio %}{{ current_user.bio }}{% else %}There is no bio. {% endif %}
                    </p>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">

            </div>
            <div  style="text-align:left" class="col-md-5">
                <h4>Team</h4>
                <p>
                    {% if  %}
                    <!--team yoksa create team linki koyalim-->
                </p>
                <p>
                    <strong>Rank: </strong> --teamrank--
                </p>
            </div>
            <div  style="text-align:left"  class="col-md-5">
                <h4>Personal Rank</h4>
                <p>
                     --rank--
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">

            </div>
            <div style="text-align:left"  class="col-md-5">
                <h4>Adress</h4>
                <ul class="list-unstyled">
                    <!--there will be if states-->
                    <!--when clicked users will searched by that feature-->
                    <li>City:--city--</li>
                    <li>Country:--country--</li>
                    <li>School:--school--</li>
                </ul>
            </div>
            <div  style="text-align:left" class="col-md-5">
                <h4>Register Date</h4>
                <p>--time--</p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
