{% extends "layout.html" %}
{% block title %}Edit Profile {% endblock %}
{% block content %}
    <div class="panel panel-primary">
    <!--div class="panel-heading"><h3>Welcome to HackPack</h3></div-->
    <div id="profile" class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <fieldset class="form-group">
                    <label for="InputUsername1">Username*</label>
                    <input type="text" class="form-control" id="InputUsername1" value="{{ current_user.username }}" placeholder= "current username" disabled form="edit-profile-form">
                </fieldset>
            </div>
            <div class="col-md-1">

            </div>
            <!--div class="col-md-6">
                <fieldset class="form-group">
                    <label for="NameSurname1">Name Surname*</label>
                    <input type="text" class="form-control" id="NameSurname1" placeholder= "Current Name Surname" form="edit-profile-form">
                </fieldset>
            </div-->
        </div>
        <div class="row">
            <div class="col-md-1">

            </div>
            <div  class="col-md-3">
                <p>--picture--</p>
                {% if current_user.profile_photo %}
                    <img src="{{ current_user.profile_photo }}" height="100%" width="100%"/>
                {% else %}
                    <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/676465-200.png"/>
                {% endif %}
                <fieldset class="form-group">
                    <label for="File">Profile Picture</label>
                    <input name="profile_picture" type="file" class="form-control-file" id="File" form="edit-profile-form">
                    <small class="text-muted"></small>
                </fieldset>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-6">
                <fieldset class="form-group">
                    <label for="Email1">Email address*</label>
                    <input type="email" name="email" value="{{ current_user.email }}" class="form-control" id="Email1" placeholder="current@email.com" form="edit-profile-form">
                    <small class="text-muted">We will send a new confirmation mail.</small>
                </fieldset>
                <fieldset class="form-group">
                    <label for="Password1">Password*</label>
                    <input type="password" name="old_password" class="form-control" id="Password1" placeholder="Enter your old password" form="edit-profile-form">
                    <input type="password" name="old_password2"class="form-control" id="Password1" placeholder="New password" form="edit-profile-form">
                    <small class="text-muted"> Your password must be at least 6 characters also include at least <strong>one number and letter *</strong> </small>
                    <input type="password" name="new_password" class="form-control" id="Password1" placeholder="New password again" form="edit-profile-form">
                </fieldset>
            </div>
        </div>
        <fieldset class="form-group">
            <label for="Bio">Bio</label>
            <textarea class="form-control" id="Bio"  name="bio" rows="5" placeholder="Current Bio" form="edit-profile-form">{{ current_user.bio }}</textarea>
        </fieldset>
        <div class="row">
            <div  style="text-align:left" class="col-md-6">
                <fieldset class="form-group">
                    <label for="Team1">Team</label>
                    <br>
                    <a href="#">Create Team</a>
                    or
                    <input type="text" class="form-control disabled" id="Team1" placeholder= "Current Team Name" disabled form="edit-profile-form">
                </fieldset>
            </div>
            <div style="text-align:left"  class="col-md-6">
                <fieldset class="form-group">
                    <label for="exampleInputAdress">Adress</label>
                    <input type="text" value="{{ current_user.country }}" name="country" class="form-control" id="exampleInputAdress" placeholder="Current Country" form="edit-profile-form">
                    <input type="text" value="{{ current_user.city }}" name="city" class="form-control" id="exampleInputAdress" placeholder="Current City" form="edit-profile-form">
                    <input type="text" value="{{ current_user.school }}" name="school" class="form-control" id="exampleInputAdress" placeholder="Current School" form="edit-profile-form">
                </fieldset>
            </div>
        </div>
        <form action="" method="post" id="edit-profile-form" enctype="multipart/form-data">
            <button type="submit" class="btn btn-primary">Submit Changes</button>
        </form>
    </div>
    </div>
{% endblock %}
