{% extends "layout.html" %}
{% block title %}{{ user.username }}{% endblock %}
{% block content %}
    <div class="panel panel-primary">
    <div class="panel-heading"><h3>Welcome {{ user.username }} ! </h3></div>
    <div id="profile" class="panel-body">
        <div class="row">
            {% if is_owner %}
            <div class="col-md-1">
                <a href="{{ url_for('core.edit_profile') }}">Edit Profile</a>
            </div>
            {% endif %}
        </div>

        <div class="row">
            <div class="col-md-3">
                {% if user.profile_photo %}
                    <img src="{{ user.profile_photo }}" height="100%" width="100%"/>
                {% else %}
                    <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/676465-200.png"/>
                {% endif %}
            </div>
            <div class="col-md-9">
                <h4>Email</h4>
                <p> {{ user.email }} </p>
                <h4>Bio</h4>
                    <p style="text-align:left; margin:10px;"> {% if user.bio %}{{ user.bio }}{% else %}Please tell us something about yourself. {% endif %}
                    </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">

            </div>
            <div  style="text-align:left" class="col-md-5">
                <h4>Team</h4>

                {% if user.team %}
                    <p>
                        Team name: <a href="{{ url_for('core.team', team_name=user.team.team_name) }}"><strong>{{ user.team.team_name }}</strong></a>
                    </p>
                    <p>
                        Rank: <strong>{{ user.team.team_rank }}</strong>
                    </p>
                    <form action="{{ url_for('core.leave_team') }}" method="post">
                        <input type="submit" value="Leave Team"/>
                    </form>

                {% elif is_owner %}
                <p>
                    <form action="{{ url_for('core.join_team') }}" method="post">
                        <input type="text" name="team_name"/>
                        <input type="submit" value="Create/Join Team"/>
                    </form>

                </p>
                {% endif %}
            </div>
            <div  style="text-align:left"  class="col-md-5">
                <h4>Personal Rank</h4>
                <p>
                     {{ user.rank }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">

            </div>
            <div style="text-align:left"  class="col-md-5">
                <h4>Adress</h4>
                <ul class="list-unstyled">

                    <li>City: {{ user.city }}</li>
                    <li>Country: {{ user.country }}</li>
                    <li>School: {{ user.school }}</li>
                </ul>
            </div>
            <div  style="text-align:left" class="col-md-5">
                <h4>Register Date</h4>
                <p>{{ user.register_date.day }}/{{ user.register_date.month }}/{{ user.register_date.year }}</p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block socialbar %}
    {% include "socialbar.html" %}
{% endblock %}