{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <div class="panel panel-primary">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="username">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Bio">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="City">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="School">
        </div>
    </div>
{% endblock %}
