{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content %}
    <div style="text-align: left;"class="panel panel-primary">
        <div class="panel-heading">
            <h3>Please enter your information to begin your education journey in HackPack</h3>
        </div>
        <div class="panel-body">
            <form>
                <fieldset class="form-group">
                    <label for="exampleInputUsername1">Username*</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder= "e.g hackergirl123" required>
                    <small class="text-muted">this must be <strong>unique and this will be permanent</strong> for this account) <strong>*</strong></small>
                </fieldset>

                <fieldset class="form-group">
                    <label for="exampleInputNameSurname1">Name Surname*</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" placeholder= "John Doe" required>
                </fieldset>

                <fieldset class="form-group">
                    <label for="exampleInputEmail1">Email address*</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="info@hackpack.com" required>
                    <small class="text-muted">If you forget your password we will use this email</small>
                </fieldset>

                <fieldset class="form-group">
                    <label for="exampleInputPassword1">Password*</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                    <small class="text-muted"> Your password must be at least 6 characters also include at least <strong>one number and letter *</strong> </small>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Please enter your password again" required>
                </fieldset>
                <fieldset class="form-group">
                    <label for="exampleTextarea">Bio</label>
                    <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Please enter some imformation about you."></textarea>
                </fieldset>
                <fieldset class="form-group">
                    <label for="exampleInputFile">Profile Picture</label>
                    <input type="file" class="form-control-file" id="exampleInputFile">
                    <small class="text-muted"></small>
                </fieldset>
                <fieldset class="form-group">
                    <label for="exampleInputAdress">Adress</label>
                    <input type="text" class="form-control" id="exampleInputAdress" placeholder="Country" required>
                    <input type="text" class="form-control" id="exampleInputAdress" placeholder="City" required>
                    <input type="text" class="form-control" id="exampleInputAdress" placeholder="School" required>
                </fieldset>

                <div class="checkbox">
                    <label>
                        <input type="checkbox" required > I agree the <a href="#"> Terms and Conditions *</a>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <p>*: The areas that specified with asteriks are required</p>
        </div>
    </div>
{% endblock %}
