<div id="right-bar" class="col-md-3">
    <div class="col-md-12">
        <ul class="nav nav-tabs nav-sm">
            <li class="active"><a data-toggle="tab" href="#message">Message</a></li>
            <li><a data-toggle="tab" href="#notification">Notifications</a></li>
            <li style="float:right;"><a  data-toggle="modal"href="#newmsg"> Send Msg <i class="small material-icons">add_box</i></a></li>

            <div class="modal fade" id="newmsg">
              <div class="modal-dialog">
                  <div class="modal-content panel panel-info">
                      <div class="modal-header panel-heading">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h3 style="text-align:center;"class="modal-title">
                            Send Message
                          </h3>
                      </div>
                      <div class="modal-body panel-body">
                          <form role="form" id="sendMsgPane" action="{{ url_for('core.send_msg') }}" method="post">
                            <fieldset style="text-align:left;" class="form-group">
                              <label for="usernameselect">Username</label>
                                <select class="form-control" id="usernameselect" name="to_user">
                                  {% for userid, username in current_user.other_users %}
                                        <option value="{{ userid }}">{{ username }}</option>
                                  {% endfor %}
                                </select>
                            </fieldset>
                            <fieldset class="form-group">
                              <textarea class="form-control" rows="3" name="msg_text"></textarea>
                            </fieldset>
                            <button type="submit" class="btn btn-primary">Send Message</button>
                          </form>
                      </div>
                  </div>
              </div>
            </div>
        </ul>


        <div class="tab-content">
            <div id="message" class="tab-pane fade in active">
                <ul class="social">
                    {% for (from_user, message) in current_user.msg_list %}
                        <li id="message{{ message.message_id }}">
                            <button id="msgButton{{ message.message_id }}" type="button" onclick="readMsg({{ message.message_id }})" class="btn btn-block notif" data-toggle="modal" data-target="#msgPopUp{{ message.message_id }}">
                                {% if message.is_read %}
                                    Message From: {{ from_user }}
                                {% else %}
                                    New Message From: {{ from_user }}
                                {% endif %}
                            </button>

                            <div class="modal fade" id="msgPopUp{{ message.message_id }}">
                                <div class="modal-dialog">
                                    <div class="modal-content panel panel-info">
                                        <div class="modal-header panel-heading">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h3 style="text-align:center;"class="modal-title">
                                                Message From: {{ from_user }}
                                            </h3>
                                        </div>
                                        <div class="modal-body panel-body">
                                            <p>{{ message.message_content }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="notification" class="tab-pane fade">
                <ul class="social">
                    {% for notification in current_user.notifications %}
                        <li>
                            <button class="btn btn-block notif" type="button" data-toggle="modal" data-target="#notifPopUp{{ notification.notification_id }}">
                                {% if not notification.is_read %}NEW: {% endif %}{{ notification.content }}
                            </button>
                            <div class="modal fade" id="notifPopUp{{ notification.notification_id }}">
                                <div class="modal-dialog">
                                    <div class="modal-content panel panel-primary">
                                        <div class="modal-header panel-heading">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h3 style="text-align:center;"class="modal-title">
                                                {% if not notification.is_read %}NEW{% endif %}
                                            </h3>
                                        </div>
                                        <div class="modal-body panel-body">
                                            <p>{{ notification.content }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function readMsg(id) {
        $.ajax({
            url: "/read_msg/",
            type: "POST",
            data: {msg_id: id}
        });
    }
</script>